.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(192);
	height: rem(64);
	@media (max-width: em(650)) {
		width: rem(190);
		height: rem(60);
	}

	background-image: linear-gradient(180deg, #5cf744 0%, #008b15 100%);
	border: 1px solid #986400;
	box-shadow: inset 0px 4px 4px #663d1f;
	border-radius: 19.5px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	transition: all 0.3s ease 0s;

	&:active {
		transform: translateY(3px);
	}

	p {
		font-size: rem(32);
		line-height: math.div(39, 32);
		letter-spacing: 0.05em;

		background: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1px #024603;
		filter: drop-shadow(2px 2px 0px #125209);
	}

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	min-height: 100vh;

	overflow: hidden;

	background-image: url("@img/other/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	transition: all 0.3s ease-out 0.1s;

	&__block-acces {
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		bottom: rem(20);
		right: 10%;
		z-index: 5;
	}

	// .preloader__button

	&__button {
		position: relative;
		z-index: 3;
	}
	&._hide {
		top: -20%;
		opacity: 0;
		visibility: hidden;
	}
}
.acces-preloader {
	position: relative;
	z-index: 3;

	display: flex;
	flex-direction: column;
	max-height: 100vh;
	max-width: 70vw;
	padding-top: rem(30);
	padding-bottom: rem(100);
	padding-left: rem(20);

	overflow: auto;

	&._hide {
		display: none;
	}

	&__title {
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}

	&__link {
		color: #ebff00;
	}
}

.text-pre {
	@include adaptiveValue("font-size", 14, 12, 1200, 550, 1);
	line-height: math.div(17, 14);
	color: #ffffff;
	letter-spacing: 0.05em;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	&__title {
		text-transform: uppercase;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-anim {
	img {
		&._anim-icon-jump {
			animation: jump_icon 5s ease;
		}
		&._anim-icon-scale {
			animation: scale_icon 0.5s ease 2;
		}
		&._anim-icon-rotate {
			animation: rotate_icon 1.5s ease-out 1;
		}
		&._anim-icon-rotate-2 {
			animation: rotate_icon-2 1.5s ease 1;
		}
	}
}

.btn-bg {
	background-color: #002263;
	border: 1px solid #0094ff;
	box-shadow: inset 0px 4px 4px rgba(0, 163, 255, 0.5);
	border-radius: 19.5px;
}

.text {
	background-image: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));

	@include adaptiveValue("font-size", 24, 20, 800, 550, 1);
	line-height: math.div(29, 24);
	letter-spacing: 0.05em;
}

//========================================================================================================================================================
