//====================================================================================================
.main {
	// .main__body

	&__body {
		position: relative;
		display: grid;
		grid-template-rows: rem(60) 1fr;
		row-gap: rem(30);
		min-height: 100vh;
		padding-top: rem(17);
	}

	// .main__header

	&__header {
		padding-left: rem(40);
	}

	&__slider {
		position: relative;
		padding-left: rem(40);
		z-index: 2;
		@media (min-height: em(700)) {
			align-self: center;
		}
	}

	&__item {
		position: relative;
		display: grid;
		justify-items: center;
		row-gap: rem(15);
		perspective: 500px;
		transform-style: preserve-3d;
		perspective-origin: bottom;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		&._disabled {
			pointer-events: none;
		}
	}

	&__image {
		position: relative;
		img {
			max-width: rem(281);
		}
		&_pin {
			opacity: 0.5;
		}
	}

	&__disable-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: grid;
		justify-items: center;
		row-gap: rem(10);
	}
}

.header-main {
	// .header-main__body

	&__body {
		display: flex;
		align-items: center;
		column-gap: rem(15);
	}

	// .header-main__score

	&__score {
	}

	// .header-main__privacy

	&__privacy {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(193);
		height: rem(51);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		transition: all 0.3s ease 0s;

		animation: btn 30s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s infinite;

		&:active {
			transform: scale(0.95);
		}
	}
}

.score-box {
	// .score-box__body

	&__body {
		display: grid;
		grid-template-columns: rem(60) 1fr;
		align-items: center;
		width: rem(193);
		height: rem(51);
	}

	// .score-box__icon

	&__icon {
		justify-self: center;
		img {
			@include adaptiveValue("max-width", 46, 30, 800, 550, 1);
		}
	}

	// .score-box__score

	&__score {
		padding-left: rem(15);
	}
}

//========================================================================================================================================================
.slot {
	// .slot__body

	&__body {
		min-height: 100vh;
		position: relative;
	}

	&__game {
		display: flex;
		align-items: center;
	}

	// .slot__box

	&__box {
		height: 100vh;
		width: 100vw;
		margin: 0 auto;
		position: relative;
		display: flex;
		flex-direction: column;
	}

	// .slot__cont

	&__cont {
		position: relative;
		flex: 1 1 auto;

		display: grid;
		grid-template-rows: 1fr rem(70);
		z-index: 2;
	}

	// .slot__controls

	&__controls {
	}
}

.controls-slot {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	align-items: flex-end;

	&__santa-box {
		position: absolute;
		right: 0;
		bottom: rem(50);
		z-index: 1;
		img {
			@include adaptiveValue("max-width", 222, 170, 800, 550, 1);
		}
	}

	// .controls-slot__body

	&__body {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 3;
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: rem(12);
		width: 100%;
		height: rem(67);

		padding-inline: rem(30);

		background-image: linear-gradient(180deg, #0094ff 0%, #00a3ff 40.42%, #00489c 100%);
		border-bottom: 2px solid #03009e;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -11px 19px rgba(56, 0, 112, 0.63);
		@media (min-height: em(700)) {
			height: rem(100);
		}
	}

	&__btn-home {
		position: absolute;
		top: rem(12);
		left: rem(30);
		width: rem(75);
		height: rem(35);
		z-index: 10;

		background-color: #fac225;
		border: 1px solid #986400;
		box-shadow: inset 0px 4px 4px #663d1f;
		border-radius: rem(19.5);

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		span {
			display: block;
			width: 100%;
			height: 100%;
			background-image: url("@img/icons/arrow.svg");
			background-position: center;
			background-size: 18px 12px;
			background-repeat: no-repeat;
		}
		&._anim-1 {
			animation: btn-anim-1 20s ease 0s;
		}
		&._anim-2 {
			animation: btn-anim-2 20s ease 0s;
		}
	}

	&__win-box {
		flex: 1 1 auto;
	}
	// .controls-slot__button-spin

	&__button-spin {
		width: rem(121);
		height: rem(50);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		transition: all 0.3s ease 0s;
		p {
			text-transform: uppercase;
		}

		&:active {
			transform: scale(0.97);
		}
		&._hold {
			opacity: 0.7;
			pointer-events: none;
		}
	}
}

.win-box {
	// .win-box__body

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: rem(51);
	}

	// .win-box__count

	&__count {
		position: relative;
		top: rem(20);
		opacity: 0;
		visibility: hidden;
		transition: all 0.6s ease-out 0s;
		&._visible {
			top: 0;
			opacity: 1;
			visibility: visible;
		}
	}
}

//========================================================================================================================================================
#slot {
	display: flex;
	justify-content: center;

	width: 100%;
	@media (max-width: em(700)) or ((min-height: em(700))) {
		align-items: center;
	}
}
#reels {
	position: relative;
	display: flex;
	justify-content: center;
	width: 65vw;
	height: calc((3 / 3) * 100vw);
	max-height: 34vw;
	max-width: calc(2.2 * (90vh - 50px));
	@media (min-height: em(700)) {
		width: 75vw;
		max-height: 39vw;
	}
}

.reel {
	overflow: hidden;
	width: 20%;
	height: 100%;
	.icons {
		text-align: center;
		padding-top: rem(5);
		img {
			width: calc(100% - 5px);
			margin: -3px 0 5px -3px;
			height: auto;

			background-color: #7c6fe3;
			border: 2px solid #b4aaff;
			border-radius: 10px;

			transform: translate3d(0, 0, 0);
		}
	}
}

#slot.inverted .reel {
	transform: scaleY(-1);
}

#slot.inverted .reel > .icons > img {
	transform: scaleY(-1);
}

//========================================================================================================================================================
#slot2 {
	display: flex;
	justify-content: center;
	width: 100%;
	@media (max-width: em(700)) or ((min-height: em(700))) {
		align-items: center;
	}
}
#reels2 {
	position: relative;

	display: flex;
	justify-content: center;

	width: 60vw;
	height: calc((3 / 5) * 100vw);
	max-height: 35vw;
	max-width: calc(2.2 * (90vh - 50px));
	@media (min-height: em(700)) {
		width: 70vw;
		max-height: 42vw;
	}
}

.reel2 {
	position: relative;
	z-index: 3;
	overflow: hidden;
	width: 20%;
	height: 100%;
	.icons {
		text-align: center;
		padding-top: rem(5);
		img {
			width: calc(100% - 5px);
			margin: -3px 0 5px -3px;
			height: auto;

			background-color: #7c6fe3;
			border: 2px solid #b4aaff;
			border-radius: 10px;

			transform: translate3d(0, 0, 0);
		}
	}
}

#slot2.inverted .reel {
	transform: scaleY(-1);
}

#slot2.inverted .reel > .icons > img {
	transform: scaleY(-1);
}

//====================================================================================================
@keyframes no-money {
	100% {
		background-image: linear-gradient(180deg, #ffbb00 0%, #ff5900 100%);
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	100% {
		background-image: linear-gradient(180deg, #ffc800 0%, #ff6f00 100%);
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		background-image: linear-gradient(180deg, #ebff00 0%, #e5ff00 100%);
		transform: translateY(-3px);
	}
}

@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}

@keyframes btn {
	0%,
	92%,
	100% {
		transform: translateZ(0);
		filter: drop-shadow(0 0 0 #002263);
	}
	96% {
		transform: translateZ(30px);
		filter: drop-shadow(0 0 10px #175cdd);
	}
}

@keyframes btn-anim-1 {
	0%,
	88%,
	100% {
		transform: rotateY(0);
	}
	94% {
		transform: rotateY(-180deg);
	}
}

@keyframes btn-anim-2 {
	0%,
	80%,
	100% {
		transform: rotate(0);
	}
	82% {
		transform: rotate(-90deg);
	}
	86% {
		transform: rotate(-180deg);
	}
	90% {
		transform: rotate(-270deg);
	}
	94% {
		transform: rotate(-360deg);
	}
}
